:root {
    --main-blue-color: #407AFF;

    /* --h1-size: 24px;
    --h2-size: 18px;
    --h3-size: 16px;
    --h4-size: 14px;
    --h5-size: 12px;
    --h6-size: 10px; */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}

body{
    height: 100vh; 
    margin: 20px 100px;
    font-family: "system-ui", sans-serif;
}

header {
  border-bottom: solid 1px;
    background-color: white; /* Cor de fundo do cabeçalho */
    /* border-radius: 25px; */
    color: black; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno do cabeçalho */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 32px; /* Tamanho da fonte da logo */
    font-weight: bold; /* Negrito */
    margin: 0 0 0 25px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  
  nav ul li {
    display: inline-block; /* Para alinhar os itens na horizontal */
    margin-left: 20px; /* Espaçamento entre os itens */
  }
  
  nav ul li:first-child {
    margin-left: 0; /* Remove o espaçamento à esquerda do primeiro item */
  }
  
  nav ul li a {
    color: black; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    font-size: 24px; /* Tamanho da fonte dos links */
  }




.apresentation {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 35%;
}

.middle {
 width: 45%;
}

.right {
  width: 20%;
}

/* ---------- INICIO DA DIV ESQUERDA ---------- */
.left {
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-size: 3rem;
  margin: 75px 0 0 0;
}

.left p {
  width: 80%;
  font-size: 1.75rem;
  font-weight: 300 ;
  margin: 25px 0 0 0;
}

.left button {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  background-color: var(--main-blue-color); /*#7BA1F7*/
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 50px 0 0 0;
}

/* ---------- FINAL DA DIV ESQUERDA ---------- */



/* ---------- INICIIO DA DIV CENTRAL ---------- */

.middle {
    overflow: hidden;
}

dotlottie-player {
  width: 100%; /* Ajusta a largura da imagem para 100% da div */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 100%; /* Garante que a imagem não ultrapasse os limites da div */
}

/* ---------- FINAL DA DIV CENTRAL ---------- */



/* ---------- INIICIO DA DIV DIREITA ---------- */
.apresentation .right {
  
}

.right .h1-top {
  margin-top: 175px;
}

.right h1 {
  margin: 50px;
}

.right .number {
  border-bottom: blue solid;
  margin: 0 15px 0 0;
}

.right span {
  font-size: 2.5rem;
}

.right h1 {
  font-size: 1rem;
}

/* ---------- FINAL DA DIV DIREITA ---------- */


.apresentation-codes {
    display: flex;
    height: 650px;
    background-color: #FBF8F8;
    border-radius: 25px;
}

.apresentation-codes .container-1 {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 ol {
  list-style-type: none;
}

.container-1 ol li button {
  width: 175px;
  height: 50px;
  margin: 25px 0;
  background-color: var(--main-blue-color);
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 0 15px 15px 15px;
}

.apresentation-codes .container-2 {
  width: 75%;
  height: auto;

  background-color: #e0e0e0;
  

  margin: 75px 75px 75px 0;
}